.book {
  display: grid;
  grid-template-rows: 150px repeat(auto);
  height: 100%;
  min-height: clamp(80px, 22vh, 210px);
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  height: 190px;
  background-color: var(--image-bg-color);
  width: 135px;
  margin: 0.5em 0;
}

.titleWrapper {
  overflow: hidden;
  position: relative;
  height: 5.7em;
  font-size: clamp(20px, 6vw, 1.3em);
}

.titleWrapper h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 1.2em;

  text-align: right;

  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 70%
  );
}

.author,
.category {
  color: var(--secondary-text-color);
}

.author {
  align-self: end;
}
