.label {
  display: flex;
  gap: 0.5em;
  align-items: center;
  color: var(--text-accent-color);
  font-weight: 600;
}
.select {
  font: inherit;
  text-transform: capitalize;
  font-size: 1.15em;
  font-weight: normal;
}
