*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: min(100vw, 1300px);
  margin: 0 auto;
  overflow-x: hidden;
}

:root {
  --image-bg-color: rgb(235, 234, 234);
  --accent-color: #ffc857ff;
  --text-accent-color: #119da4ff;
  --secondary-text-color: rgb(126, 126, 126);
  --text-color: #272932ff;
  --bg-color: white;
  --title-font: "Playfair Display", serif;
  --main-font: "Source Sans Pro", sans-serif;
}

body {
  color: rgb(var(--text-color));
  background-color: var(--bg-color);
  font-family: var(--main-font);
  font-size: clamp(14px, 2vw, 18px);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  max-height: 100%;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
