.booksList {
  display: flex;
  gap: min(5vw, 50px);
  padding: 20px;
  max-width: 1300px;
  flex-wrap: wrap;
  justify-content: center;
}

.bookItem {
  flex-grow: 1;
  flex-basis: 300px;
  max-width: 350px;
  padding: 10px;
  border-top: 3px solid var(--accent-color);
}

