.booksList {
  display: flex;
  gap: min(5vw, 50px);
  padding: 20px;
  max-width: 1300px;
  flex-wrap: wrap;
  justify-content: center;
}

.bookItem {
  flex-grow: 1;
  flex-basis: 300px;
  max-width: 350px;
  padding: 10px;
  border-top: 3px solid var(--accent-color);
}

.button {
  cursor: pointer;
  border: none;
  font: inherit;
  padding: 0.8em 2em;
  background-color: var(--text-accent-color);
  color: var(--bg-color);
  transition: 0.3s;
}

.button:hover, .button:focus {
  scale: 1.03;
  opacity: 0.9;
}
