.title {
  text-align: center;
  margin-top: 7vh;
  margin-bottom: 5vh;
  font-size: clamp(1.4em, 6vw, 3em);
  color: var(--text-accent-color);
  font-family: var(--title-font);
}

.search {
  display: flex;
  margin-bottom: 1em;
}

.search input {
  width: 100%;
  padding: 0.5em;
  border-radius: 5px;
  border-color: var(--text-accent-color);
  border-width: 2px;
  font: inherit;
  font-size: 1em;
  color: inherit;
  transition: 0.5s;
  margin-right: 3px;
}

.search input:focus {
  outline: none;
  border-left: none;
  border-right: none;
  border-top: none;
  border-width: 4px;
  transform: scale(1.01);
}

.searchButton {
  height: 100%;
  display: flex;
  align-items: center;
  width: 4em;
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.5s;
}

.searchButton:hover {
  transform: scale(1.05);
  opacity: 0.9;
}
