.book {
  max-width: 800px;
  padding-top: max(1em, 2vh);
  display: grid;
  gap: 1em;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "categories categories"
    "image title"
    "image author"
    "description description";
}

.cover {
  grid-area: image;
  background-color: var(--image-bg-color);
  padding: 1em;
}

.title {
  grid-area: title;
  font-size: 2.2em;
}

.author {
  grid-area: author;
  color: var(--secondary-text-color);
}

.categories {
  grid-area: categories;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
.category {
  font-size: max(12px, 0.6em);
  color: white;
  padding: 0.3em 0.5em;
  border-radius: 20px;
  background-color: var(--text-accent-color);
}

.description {
  grid-area: description;
  grid-column: 1/-1;
  grid-row: 4/5;
  margin-bottom: 2em;
}
